@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(0deg, transparent 5%, rgba(10, 9, 9, 0.1) 25%, rgba(0, 0, 0, 0.1) 100%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 20px 20px; /* Ajustez la taille des lignes selon vos préférences */
  background-color: #e0e0e0;
}


.container {
  background-color: rgb(255, 234, 0);
  box-shadow: 0 0 20px rgba(255, 234, 0, 0.75);
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.product {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem ;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}


h1, h2, header, .btn, footer {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    display: block;
}
h1, h2 {
  color: blue;
}
h3 {
  text-transform: uppercase;
}

nav {
  padding-bottom: 2rem;
}

.product {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.modify-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.logo, footer {
  color: red; 
  text-shadow: 2px 2px royalblue; /* Ombre en bleu royal avec un décalage horizontal de 2px et un décalage vertical de 2px */
  -webkit-text-stroke: 1px white; /* Contour blanc autour du texte (pour les navigateurs WebKit) */
}
.logo {
  font-size: 2.5rem;
}
footer {
  text-shadow: 1px 1px royalblue; 
  -webkit-text-stroke: .5px white;
  padding: 1rem;
}

.link {
  padding: 1rem;
  color: blue;
}

p {
  color: blue;
  padding: 1rem;
  max-width: 80ch;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

th, td {
  border: 1px solid blue;
  padding: 8px; 
  text-align: left;
}
